{% extends 'app/base.html' %}
{% load static %}
{% block css_conect %}<link rel="stylesheet" href="{% static 'app/css/auth.css' %}">{% endblock %}
{% block title %}BBC | Выход{% endblock %}
{% block content %}
<div class="back">


  <div class="div-center">


    <div class="content">


      <h3>Вы уверены что хотите выйти?</h3>
      <hr />
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-sm" id="auth_confirm">Выйти</button>
        <hr />

      </form>
      <a href="{% url 'profile' user.pk %}" class="btn btn-secondary btn-sm" role="button">Вернуться</a>

    </div>


    </span>
  </div>
{% endblock %}

