{% extends 'app/base.html' %}
{% load static %}
{% block css_conect %}<link rel="stylesheet" href="{% static 'app/css/auth.css' %}">{% endblock %}
{% block title %}BBC | Успешно {% endblock %}
{% block content %}
<div class="back">


    <div class="div-center">
  
  
      <div class="content">
  
  
        <h3>Ваш пароль изменён! Поздравляю</h3>
        <hr />

        <a href="{% url 'profile' user.pk %}" class="btn btn-secondary btn-sm" role="button">Вернуться</a>
  
      </div>
  
  
      </span>
    </div>
{% endblock %}