{% extends 'app/base.html' %}
{% load static %}
{% block css_conect %}<link rel="stylesheet" href="{% static 'app/css/auth.css' %}">{% endblock %}
{% block title %}BBC | Изменить комментарий {% endblock %}
{% block content %}
<div class="back">

  <div class="div-center">


    <div class="content">


      <h3>Обновить комментарий</h3>
      <hr />
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form }}
        </div>
        <button type="submit" class="btn btn-secondary btn-sm" id="auth_confirm">Обновить</button>
        <hr />

      </form>

    </div>


    </span>
  </div>
{% endblock %}